NODE_ENV=dev
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
AUTH_GITHUB_CLIENT_ID=
AUTH_GITHUB_CLIENT_SECRET=
S3_ENDPOINT=
S3_ACCESS_KEY=
S3_ACCESS_SECRET=
S3_REGION=
S3_BUCKET=
S3_BUCKET_URL=

# These are only required if running minio locally
MINIO_API_PORT=
MINIO_CONSOLE_PORT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=